<div class="tab-container">
	<div class="panel"> 
    	<header>
	    	<h3>Trade-in or Sell<br>to a Dealership</h3>
	    	
	    	<p>If the idea of writing an appealing ad, meeting with different buyers, allowing test drives, and haggling for hours on prices sounds like far too much work then the option of talking to a car dealer is always a great option.</p>
	    	
	    	<a class="cta">More</a>
    	</header>
	</div>
	
	<div class="panel"> 
    	<header>
	    	<h3>New and Used<br>Vehicle Websites</h3>
	    	
	    	<p>As one of the oldest and most well-established car marketplaces on the internet, websites like Autotrader are often the first place private sellers go to list their used vehicles; and on the surface, it doesn’t seem like a bad option at all.</p>
	    	
	    	<a class="cta">More</a>
    	</header>
	</div>
	
	<div class="panel"> 
    	<header>
	    	<h3>Local<br>Classifieds</h3>
	    	
	    	<p>Craigslist or Kijiji are other well-known websites for selling used cars, used trucks or used SUV’s. Just like Autotrader, these websites offer consistent traffic which makes it far more likely that someone will view your used vehicle and want to buy it. </p>
	    	
	    	<a class="cta">More</a>
    	</header>
	</div>
</div>