// colors
$white: #fff;
$black: #080808;
$black_25: #3b3b3b;
$black_50: #7f7f7f;
$black_67: #aaa;
$black_75: #c3c3c3;
$black_95: #f5f5f5;
$blue: #292e40;
$blue_transparent: rgba(41,46,64,0.95);
$cream: #D1CFCF;
$green: #82B949;
$orange: #f15623;